
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: lavender;
}

.container {
  padding: 2px 16px;
}

  .posts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   
