/* .calendar{
    background: url(https://i.pinimg.com/564x/d5/e3/0a/d5e30ad75597f14167ce89be5a49978e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.calendar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}