.posts{
    display: flex;
    margin: 5px;
}

.single-post{
    width: 30%;
    border: 1px solid black;
    margin: 10px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.body  {
    width: 800;
}


/* body{
    background-image: url(https://i.pinimg.com/564x/06/ab/4c/06ab4c99cc581c1676e1019af05605bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
