.auth-fieldset{
    margin: 10px;
    border: none;

}

.auth-button{
    background-color:  fuchsia;
}

.register-link{
    color:  #5300FE;

}

.auth-form-input{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}

.header{
    color: white
}

body{
    /* background-image: url(https://i.pinimg.com/474x/e9/c0/7e/e9c07ee9f30fc85948dde6231f28cd44.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

