body{
    background: url(https://i.pinimg.com/originals/85/f3/e8/85f3e870ef4923d55b39f2ebc97e96ab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}